/*==========================
	Custom css
==========================*/
.contprin{
	height: 800px;
}
.title-princ{
	margin-top: 0px;
}
.text-gray-dark {
    color: #9a9a9a;
}
.header-nav .nav > li.active > a{
	color:#fff;
}
.header-nav .nav > li.active > a,
.header-nav .nav > li:hover > a{
	color:#fff;
}
.slide-content h4{
	font-size:28px;
	font-style: italic;
	font-weight: 500;
	line-height: 1em;
	color: #fff;
	text-shadow: 2px 2px #1d1d1d;
}
.bs{
	text-shadow: 2px 2px #1d1d1d;
}
.texto-ini h1{
	font-size: 40px;
	font-weight: bold;
}
.texto-ini h2{
	font-size: 22px;
	font-weight: 500;
	margin-top:-20px;
}

/*Iconos de contacto Fijos*/
.icono-whatsapp{
	background-image: linear-gradient(#5ad066, #2db742);
	border: solid 2px #fff;
	font-size: 30px;
	cursor: pointer;
	position: fixed;
	color:#fff;
	border-radius: 50%;
	text-align: center;
	width: 50px;
	height:50px;
	top:50%;
	left:2%;
	z-index: 999;
	-webkit-transition: -webkit-transform 1s ease-out;
 	-moz-transition: -moz-transform 1s ease-out;
	transition: transform 1s ease-out;
}
.icono-whatsapp:hover{
    -webkit-transform: rotate(360deg);
 	-moz-transform: rotate(360deg);
 	transform: rotate(360deg);
}
.icono-whatsapp a{
	color:#fff;
}
.icono-messenger{
	background-image: linear-gradient(#00c6ff, #0077ff);
	border: solid 2px #fff;
	font-size: 30px;
	cursor: pointer;
	position: fixed;
	color:#fff;
	border-radius: 50%;
	text-align: center;
	width: 50px;
	height:50px;
	top:60%;
	left:2%;
	z-index: 999;
	-webkit-transition: -webkit-transform 1s ease-out;
 	-moz-transition: -moz-transform 1s ease-out;
	transition: transform 1s ease-out;
}
.icono-messenger a{
	color:#fff;
}
.icono-messenger:hover{
    -webkit-transform: rotate(360deg);
 	-moz-transform: rotate(360deg);
 	transform: rotate(360deg);
}
.icono-phone{
	background-image: linear-gradient(#f55e73, #ff0024);
	border: solid 2px #fff;
	font-size: 30px;
	cursor: pointer;
	position: fixed;
	color:#fff;
	border-radius: 50%;
	text-align: center;
	width: 50px;
	height:50px;
	top:70%;
	left:2%;
	z-index: 999;
	-webkit-transition: -webkit-transform 1s ease-out;
 	-moz-transition: -moz-transform 1s ease-out;
	transition: transform 1s ease-out;
}
.icono-phone a{
	color:#fff;
}
.icono-phone:hover{
    -webkit-transform: rotate(360deg);
 	-moz-transform: rotate(360deg);
 	transform: rotate(360deg);
}
/*Fin Iconos de Contacto Fijos*/
/*Tooltips Contacto*/
.tooltip-whatsapp{
	cursor: pointer;
	position: fixed;
	display: none;
	top:51%;
	left:5%;
	z-index: 998;
	width: 20px;
	height: 35px;
	background-image: linear-gradient(#5ad066, #2db742);
	border: solid 1px #fff;
	border-radius: 6px;
	text-align: center;
	color: #fff;
	line-height: 35px;
	
}
.tooltip-messenger{
	cursor: pointer;
	position: fixed;
	display: none;
	top:61%;
	left:5%;
	z-index: 998;
	width: 20px;
	height: 35px;
	background-image: linear-gradient(#00c6ff, #0077ff);
	border: solid 1px #fff;
	border-radius: 6px;
	text-align: center;
	color: #fff;
	line-height: 35px;
}
.tooltip-phone{
	cursor: pointer;
	position: fixed;
	display: none;
	top:71%;
	left:5%;
	z-index: 998;
	width: 20px;
	height: 35px;
	background-image: linear-gradient(#f55e73, #ff0024);
	border: solid 1px #fff;
	border-radius: 6px;
	text-align: center;
	color: #fff;
	line-height: 35px;
}

/*Fin Tooltips contacto*/



/*Botones de contacto*/
.btn-whatsapp{
	background-image: linear-gradient(#5ad066, #2db742);
}
.btn-messenger{
	background-image: linear-gradient(#00c6ff, #0077ff);
}	

/*==========================
	Custom css
==========================*/

/* Home Pages */
.navbar-nav > li > a > span{
	font-size:18px;
}
.site-header.header-transparent .top-bar{
	border:0;
}
.dlab-topbar-left ul li,
.dlab-topbar-right ul li{
	font-size: 14px;
	color:#fff;
	opacity:0.7;
	vertical-align: middle;
}
.dlab-topbar-left ul li i,
.dlab-topbar-right ul li i {
    font-size: 18px;
	vertical-align: middle;
}
.text-black .dlab-topbar-left ul li,
.text-black .dlab-topbar-right ul li{
	color:#000;
}
.logo-header,
.is-fixed .logo-header{
	width:120px;
	height:60px;
}
.dlab-topbar-right ul li {
    padding-left: 15px;
}
.header-nav .nav > li > a,
.is-fixed .header-nav .nav > li > a{
	text-transform: capitalize;
	font-weight:600;
	padding: 20px 12px;
}
.extra-nav{
	padding-top:10px;
	padding-bottom:10px;
}
.is-fixed .extra-nav{
	padding-top:10px;
	padding-bottom:10px;
}
/* Slider */
.overlay-black-dark:after {
    opacity: 0.85;
}
.main-slider{
	padding-bottom:0;
}
.main-slider .dlab-bnr-inr-entry{
	vertical-align: middle;
}

/* Owl Slider */
.slide-item{
	position:relative;
}
.slide-item .slide-content{
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
	padding-bottom: 180px;
    padding-top: 100px;
}
.slide-item-img img{
	object-fit:cover;
	height:800px;
}

.slide-content-box {
	position: relative;
    top: 30%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
	transition:all 1s ease 0.5s;
	-webkit-transition:all 1s ease 0.5s;
	-o-transition:all 1s ease 0.5s;
	-moz-transition:all 1s ease 0.5s;
}
.main-slider .tp-shapewrapper.ov-tp{
	background-color: rgba(0, 0, 0, 0.75);
}
@media only screen and (max-width: 1200px) {
	.slide-item-img img{
		height:750px;
	}
}
@media only screen and (max-width: 991px) {
	.dlab-topbar-left ul li, 
	.dlab-topbar-right ul li{
		font-size:13px;
	}
}
@media only screen and (max-width: 767px) {
	.slide-item-img img{
		height:650px;
	}
	.product-gallery.on-show-slider{
		position:sticky;
		top:80px;
	}
}
/* service box In slide */
.service-box-slide{
	bottom: 0;
    padding: 30px 0;
    position: absolute;
    width: 100%;
	border-top:1px solid rgba(255,255,255,0.5);
	z-index: 1;
}
.service-box-slide .container{
	display:block;
}
.service-box-slide .bx-style-1{
	border-color:rgba(255,255,255,0.5);
}
.service-box-slide .bx-style-1:hover{
	background-color:rgba(255,255,255,0.05);
}
.button-lg {
    font-size: 16px;
    padding: 15px 25px;
}
.button-lg.outline-2 {
	padding: 13px 23px;
}
.service-box-slide p{
	opacity:0.9;
	font-size:15px;
}
.service-box-slide .icon-content {
    overflow: unset;
}
.dlab-bnr-inr-entry.full-height{
	min-height:500px;
	max-height:500px;
}
/* abuot box */
.abuot-box{
	background: #e9e9e9 none repeat scroll 0 0;
    border-radius: 4px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
    padding: 40px 20px 20px;
    position: relative;
    width: 120%;
    z-index: 1;
	margin-top:100px;
}
.about-img img{
	border-radius:8px;
}
.abuot-box p{
	color:#171717 !important;
	font-size: 14px;
}
.text-gray-dark{
	color:#5a5a5a;
}
/* box item service */
.item-service-content{
	border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 30px;
    text-align: center;
}
.item-service-content p{
	font-size:15px;
}
.box-item-service .icon-bx-md{
	color:#b2b2b2;
}
.box-item-service .site-button.m-b40{
	margin-bottom:40px;
}
.development-box{
	position:relative;
}
.development-box:after{
	border-top: 2px dashed #e2e2e2;
    content: "";
    display: block;
    height: 2px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 100%;
}
.round-center {
    background: #ffffff none repeat scroll 0 0;
    border: 4px solid;
    border-radius: 25px;
    display: inline-block;
    height: 25px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    z-index: 1;
}

.box-item-service:hover .item-service-content,
.box-item-service:hover h5,
.box-item-service:hover .icon-bx-md{
	color:#fff;
}
/* Why Choose us */
.choseus-tabs .nav{
	text-align:center;
	border-bottom:1px solid rgba(255,255,255,0.1);
	
}
.choseus-tabs .nav li{
	display:inline-block;
}
.choseus-tabs .nav li a:hover{
	border:0;
}
.choseus-tabs .nav li a{
	color:#acacac;
	font-size:16px;
	border-bottom: 2px solid rgba(0,0,0,0);
	margin-bottom: -1px;
	padding:0 10px 15px 15px;
	display: inline-block;
}
.choseus-tabs .nav li a.active{
	color:#fff;
}
.chosesus-content .list-checked li:before{
	content:"\f14a";
	font-family: 'Font Awesome 5 Free';
	font-size: 18px;
}
.chosesus-content .list-checked li {
	padding:8px 5px 8px 30px;
	margin-bottom: 10px;
}
.chosesus-content .list-checked li span{
	opacity: 0.7;
}
.chosesus-content .abuot-box{
	margin-top:50px;
	padding-left:30px;
	padding-right:30px;
	left:-20%;
}
.chosesus-content .abuot-box p{
	color:#363636;
	font-size:15px;
	
}

/* choses-info */
.choses-info{
	border-top:1px solid rgba(255,255,255,0.1);
	position:relative;
	z-index:1;
	text-align:center;
}
.choses-info-content [class*="col-"] {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.choses-info-content [class*="col-"]:last-child {
	border-right:0;
}

/* portfolio box */
.portfolio-box .icon-bx-xs{
	border:1px solid rgba(255,255,255,0.2);
	background-color:rgba(0,0,0,0);
	color:#fff;
	border-radius:0;
	font-size:18px;
}
.portfolio-box .dlab-info-has{
	z-index:11;
}
.dlab-img-overlay1:hover:before, 
.dlab-box:hover .dlab-img-overlay1:before{
	opacity:0.8;
}
.portfolio-carousel .item{
	padding:0 15px;
}
.portfolio-carousel .item .dlab-box,
.portfolio-section .dlab-box{
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
}
.portfolio-section .container-fluid{
	padding-left:100px;
	padding-right:100px;
}
/* testimonial video */
.testimonial-text.video{
	padding:15px;
}
.video-testimonial{
	overflow:hidden;
	border-radius:4px;
	position:relative;
}
.video-testimonial-play {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}
.video-testimonial-play a{
	color: #ffffff;
    font-size: 45px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.op5{
	opacity:0.5;
}
.op6{
	opacity:0.6;
}
.op7{
	opacity:0.7;
}
.op8{
	opacity:0.8;
}
.op9{
	opacity:0.9;
}
/* inquiry-form */
.inquiry-form{
	background-color:#fff;
	padding:40px;
	box-shadow:0 0 30px 0 rgba(0,0,0,0.3);
	border-radius: 15px;
	margin-top: -40px;
}
.inquiry-form .input-group-addon{
	border-width: 0 0 1px;
    font-size: 18px;
    padding: 9px 0 0;
    vertical-align: top;
	border-style: solid;
}
.inquiry-form .form-control{
	border-width: 0 0 1px;
	font-size: 16px;
}
textarea.form-control{
	height:auto;
}
.footer-top {
	background-color:#292929;
}
.footer-bottom{
	background-color:#292929;
}
.footer-contact-info.service-box-slide{
	padding:0;
	position:unset;
	border-top:0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.service-box-slide .icon-sm img,
.footer-contact-info .icon-sm img {
    border-radius: 2px;
    height: 20px;
	width: auto;
}
.footer-contact-info.service-box-slide p {
    font-size: 12px;
    opacity: 0.5;
}
.footer-contact-info .icon-bx-wraper .dlab-tilte {
	font-size: 16px;
}
.footer-contact-info .icon-sm {
    text-align: left;
    width: 25px;
}
.footer-contact-info .icon-sm i {
    font-size: 20px;
}
.exp-services .section-head p {
    font-size: 18px;
	line-height: 32px;
	max-width: 1000px;
}
.exp-services .section-head p strong {
    font-size: 22px;
    font-weight: 600;
}
/* footer */
footer .widget_services .list-2 li{
	width: 50%;
	float: left;
	list-style-type: circle !important;
	list-style-position: inside;
	padding: 5px 5px 5px 0px;
}
footer .widget_services .list-2 li:before{
	content:none;
}
.subscribe-form input {
    background-color: rgba(255,255,255,0.05);
    border: 0;
    border-radius: 0 !important;
    height: 50px;
    padding: 10px 20px;
    margin-right: 0;
    color: #fff;
    font-size: 13px;
}
.subscribe-form .input-group-btn {
    padding-left: 0;
}
.footer-content-box{
	border: 1px solid rgba(255, 255, 255, 0.04);
	padding: 25px 30px;
	border-radius: 6px;
	background-color: rgba(255,255,255,0.03);
}

/* Inner Pages */
.abuot-box.left{
	right:auto;
	left:-20%;
	margin-top: 50px;
}
.about-service .icon-bx-wraper{
	border:1px solid rgba(255,255,255,0.1);
	background-color:rgba(255,255,255,0.05);
	border-radius:8px;
}
/* pulsating circle buy now button on preview */


.dlab-bnr-inr-entry {
    vertical-align: bottom;
}
.inquiry-form.inner{
	border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    box-shadow: none;
    margin-top: 0;
    padding: 20px;
	position:sticky;
	top:100px;
}
.icon-bx-wraper.expertise {
    background-color: rgba(0, 0, 0, 0.01);
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 13px;
}
/* Site Button */
/* Theme BTN */
.site-button:hover:after,
.site-button-secondry:hover:after {
	left: 5%;
    width: 90%;
	transform: skewX(25deg);
	-o-transform: skewX(25deg);
	-ms-transform: skewX(25deg);
	-webkit-transform: skewX(25deg);
	-ms-transform: skewX(25deg);
}

.site-button-secondry:after,
.site-button:after {
    background-color: #000;
    content: "";
    height: 100%;
    left: 50%;
    opacity: 0.15;
    position: absolute;
    top: 0;
    transform: skewX(0);
    -o-transform: skewX(0);
    -ms-transform: skewX(0);
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    width: 0;
    z-index: -1;
}
.site-button-secondry:after{
	background-color: #fff;
}	
.site-button, 
.site-button-secondry{
	position: relative;
    z-index: 1;
	overflow:hidden;
	vertical-align: middle;
}
/* contact-page */
.contact-page .container{
	display:;
}
.contact-page{
	padding-bottom: 50px;
    padding-top: 200px;
}
.contact-page .inquiry-form{
	margin-top:0;
}
.contact-page .bx-style-1{
	border-color: rgba(255, 255, 255, 0.1);
	background-color: rgba(255, 255, 255, 0.05);
	border-radius:8px;
	color:#fff;
}
.contact-page .bx-style-1 p{
	opacity:0.8;
}
.contact-page-1 .inquiry-form{
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    box-shadow: none;
    margin-top: 0;
    padding: 40px;
}
.contact-page-1 .icon-bx-wraper.bx-style-1, 
.contact-page-1 .icon-bx-wraper.bx-style-2{
	border: 2px solid rgba(0, 0, 0, 0.1);
	border-radius: 15px;
}
/* Box Layout */


/* Responsive */
@media only screen and (max-width: 1200px) {
	.portfolio-section .container-fluid{
		padding-left:15px;
		padding-right:15px;
	}
}
@media only screen and (max-width: 1024px) {
    .abuot-box{
		margin-top:20px;
	}
}
@media only screen and (max-width: 991px) {
    .dlab-topbar-left ul li{
		padding-right: 5px;
	}
	.dlab-topbar-right ul li{
		padding-left: 5px;
	}
	.navbar-toggler,
	.is-fixed .navbar-toggler{
		margin: 22px 0 20px 15px;
		float: right;
	}
	.chosesus-content .p-l30{
		padding-left:0;
	}
	.choses-info-content h2{
		font-size:28px;
		margin-bottom:0;
		line-height:35px;
	}
	.choses-info-content h4{
		font-size:14px;
		margin-bottom:0;
	}
	.header-nav .nav > li > a, 
	.is-fixed .header-nav .nav > li > a{
		padding: 10px 15px;
	}
	.header-nav .nav > li.active > a, 
	.header-nav .nav > li:hover > a{
		color:#000;
	}
	
}
@media only screen and (max-width: 767px) {
	.slide-content p{
		display:none;
	}
	.slide-content-box{
		text-align:center;
	}
	.owl-slider.owl-theme .owl-dots {
		bottom: 180px;
		margin-top: 0;
		position: absolute;
		right: auto;
		text-align: center;
		top: auto;
		transform: translateY(-50%);
		width: 100%;
	}
	.site-header .navbar-toggler, 
	.site-header .is-fixed .navbar-toggler {
		margin: 22px 0 22px 10px;
	}
	.slide-content .button-lg {
		font-size: 13px;
		padding: 10px 15px;
	}
	.text-white .site-button.outline {
		padding: 8px 15px;
	}
	.abuot-box {
		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		border-radius: 6;
		box-shadow: none;
		margin-top: 0;
		padding: 0;
		position: relative;
		width: 100%;
		z-index: unset;
	}
	.abuot-box [class*="col-"]{ 
		padding:0;
	}
	.choseus-tabs .title-head {
		display: unset;
	}
	.chosesus-content .abuot-box {
		background-color: rgba(255, 255, 255, 0.05);
		border-radius: 5px;
		left: auto;
		margin-top: 0;
		padding: 20px;
	}
	.chosesus-content .abuot-box p{
		color: #ffffff;
		font-size: 14px;
		opacity: 0.8;
	}
	.choses-info-content [class*="col-"] {
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}
	.inquiry-form{
		margin-top:0;
	}
	.contact-page{
		padding-bottom: 50px;
		padding-top: 100px;
	}
}


/* Write text */
.ml2 {
	color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    margin: 0;
}
.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}
.ml12 {
  font-weight: 300;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color:#000;	
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}
#loading-area{
	background-image:none;
	display: table;
	text-align:center;
	background-color:rgba(0,0,0,0);
	background-size:cover;
}
#loading-area .ml12{
	display:table-cell;
	vertical-align:middle;
	color:#000;
	width:100%;
}

/* Time Line Css ========================== */
/* Time Line */
.time-line {
    position: relative;
}
.time-line:after {
    border-radius: 2px;
    content: "";
    height: 100%;
    position: absolute;
    right: 50%;
    top: 0;
    width: 4px;
	display:block;
}
.time-line .line-left-box,
.time-line .line-right-box{
	
	width: 40%;
	position:relative;
	z-index: 1;
}
.line-right-box .line-content-box,
.line-left-box .line-content-box{
	background: #ffffff none repeat scroll 0 0;
    border-radius: 12px;
    box-shadow: 1px 1px 62px 0 rgba(0, 0, 0, 0.1);
    padding: 30px;
}
.line-left,
.line-right{
	position:relative;
	display:table;
	width:100%;
}
	
.line-left:after {
    content: "";
    height: 4px;
    position: absolute;
    top: 50%;
	left:40%;
    width: 10%;
}	
.line-right:after {
    content: "";
    height: 4px;
    position: absolute;
	right:40%;
    top: 50%;
    width: 10%;
}	
.time-line .line-left-box {
	float: left;
}
.time-line .line-right-box {
	float: right;
}
.time-line .line-left-box  .line-content-box{
	padding-right:60px;
}
.time-line .line-right-box  .line-content-box{
	padding-left:60px;
}
.line-num {
    border-radius: 40px;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
	font-family:"Nunito",sans-serif;
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 80px;
}
.time-line .line-left-box .line-num{
	position: absolute;
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.time-line .line-right-box .line-num{
	position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.faa-horizontal.animated{
    -webkit-animation:horizontal 5s ease infinite;
    animation:horizontal 5s ease infinite
}
/* Faqs */
.faq-1 .panel{
	margin-bottom: 15px; 
	transition: all 0.5s;
}
.faq-1 .acod-title a{
	padding: 20px;
	color: #000;
}
.faq-1 .panel:hover{
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
	transition: all 0.5s;
}
.faq-1 .acod-head a::after{
	top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
	right: 20px;
}
.faq-video{
	position: relative;
}
.faq-video .play-btn{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	font-size: 65px;
}
@keyframes horizontal{
    0%{
        -webkit-transform:translate(0,0);
        transform:translate(0,0)
    }
    6%{
        -webkit-transform:translate(20px,0);
        transform:translate(0,20px)
    }
    12%{
        -webkit-transform:translate(0,0);
        transform:translate(0,0)
    }
    18%{
        -webkit-transform:translate(0,20px);
        transform:translate(0,20px)
    }
    24%{
        -webkit-transform:translate(0,0);
        transform:translate(0,0)
    }
    30%{
        -webkit-transform:translate(0,20px);
        transform:translate(0,20px)
    }
    100%,36%{
        -webkit-transform:translate(0,0);
        transform:translate(0,0)
    }
}

@media only screen and (max-width: 767px) {
	.line-left, 
	.line-right{
		margin-bottom:30px;	
	}
	.line-num{
		height:40px;
		width:40px;
		font-size:16px;
		line-height:40px;
	}
	.time-line:after,
	.line-right:after{
		right:auto;
		left:0;
	}
	.time-line .line-left-box, 
	.time-line .line-right-box{
		width:90%;
		float: right;		
	}
	.time-line .line-left-box .line-num,
	.time-line .line-right-box .line-num{
		left:-20px;
	}
	.time-line .line-left-box{
		padding-right:30px;
	}
	.time-line .line-right-box{
		padding-left:30px;
	}
	.ft-gallery-box{
		margin-top:0;
	}
	.time-line .line-left-box  .line-content-box{
		padding-right:30px;
	}
	.time-line .line-right-box  .line-content-box{
		padding-left:30px;
	}
	.line-left:after{
		left: 0;
	}
	.time-line .line-right-box,
	.time-line .line-left-box{
		padding:0;
	}
	.abuot-box.left{
		left:auto;
	}
	.box-title {
		font-size: 22px;
		line-height: 35px;
	}
}
.owl-slider-banner{
	position:relative;
}
.owl-slider-banner .owl-theme .owl-dots .owl-dot{
	border: 1px solid rgba(255,255,255,0.4);
}
.owl-slider-banner .owl-theme .owl-dots .owl-dot.active, 
.owl-slider-banner .owl-theme .owl-dots .owl-dot:hover{
	border: 1px solid #fff;
}
.owl-slider-banner .owl-theme .owl-dots .owl-dot span{
	background-color: rgba(255,255,255,0.4);
}
.owl-slider-banner .owl-theme .owl-dots .owl-dot.active span, 
.owl-slider-banner .owl-theme .owl-dots .owl-dot:hover span{
	background-color: rgba(255,255,255,1);
}
/* Effect 10: Corner indicator */
.la-anim-10 {
	position: fixed;
	top: 0;
	right: 0;
	width: 300px;
	height: 300px;
	background: #84ba3f;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateX(100%) translateY(-100%) rotate(45deg);
	transform: translateX(100%) translateY(-100%) rotate(45deg);
	pointer-events: none;
	z-index: 9999999999999999;
}

.la-anim-10.la-animate {
	-webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
	transform: translateX(50%) translateY(-50%) rotate(45deg);
}

/* Loading circle idea from http://codepen.io/Metty/details/lgJck */
.la-anim-10::before,
.la-anim-10::after {
	position: absolute;
	bottom: 30px;
	left: 50%;
	display: block;
	border: 5px solid #fff;
	border-radius: 50%;
	content: '';
}

.la-anim-10::before {
	margin-left: -40px;
	width: 80px;
	height: 80px;
	border-right-color: rgba(0,0,0,0.2);
	border-left-color: rgba(0,0,0,0.2);
	-webkit-animation: rotation 3s linear infinite;
	animation: rotation 3s linear infinite;
}

.la-anim-10::after {
	bottom: 50px;
	margin-left: -20px;
	width: 40px;
	height: 40px;
	border-top-color: rgba(0,0,0,0.2);
	border-bottom-color: rgba(0,0,0,0.2);
	-webkit-animation: rotation 1s linear infinite;
	animation: rotation 1s linear infinite;
}


@-webkit-keyframes rotation {
	0% 		{ -webkit-transform: rotate(0deg); }
	50% 	{ -webkit-transform: rotate(180deg); }
	100% 	{ -webkit-transform: rotate(360deg); }
}

@keyframes rotation {
	0% 		{ transform: rotate(0deg); }
	50% 	{ transform: rotate(180deg); }
	100% 	{ transform: rotate(360deg); }
}

/* Error */
.dz_error-404 .dz_error{
    border-radius: 50%;
    font-size: 70px;
    font-weight: 700;
    height: 200px;
    line-height: 200px;
    margin: 20px 0;
    text-align: center;
    width: 200px;
}
.dz_error-405 .dz_error{
    color: #afafaf;
    font-family: poppins;
    font-size: 200px;
    font-weight: 700;
	line-height: 200px;
	text-align:center;
}
.dz_error-405 .error-head{
    font-size: 50px;
    font-weight: 700;
}
.dz_error-405 .error-content{
	font-size: 21px;
	font-weight: 500;
}
.dz_error-405 .form-control.bg-black{
	background-color:rgba(0,0,0,0.1);
	font-size:15px;
}

/* responsive */
@media only screen and (max-width: 1024px){
	.title-box span {
		display:none;
	}
}
@media only screen and (max-width: 991px) {
	.header-nav .nav > li .sub-menu, 
	.header-nav .nav > li .mega-menu{
		border-top:0;
		box-shadow:none;
	}
	.choseus-tabs .nav {
		display: table;
	}
	.choseus-tabs .nav li {
		display: table-cell;
	}
	.dz_error-405 .subscribe-form{
		margin:auto;
	}
	.dz_error-405{
		text-align:center;
	}
}
@media only screen and (max-width: 767px) {
	.shop-action .icon-bx-wraper.left{
		text-align:center;
	}
	.shop-action .icon-bx-wraper.left .icon-md{
		float:none;
		margin-right:0;
		margin-bottom:15px;
	}
	.top-bar{
		display:none;
	}
	.slide-item .slide-content{
		padding-top: 60px;
	}
	.service-box-slide p{
		font-size: 13px;
	}
	.choseus-tabs .nav li a{
		font-size: 14px;
	}
	.chosesus-content .about-img{
		margin-bottom:20px;
	}
	.dz_error-404 .dz_error{
		font-size: 35px;
		height: 100px;
		line-height: 100px;
		margin: auto;
		width: 100px;
	}
	.dz_error-404 .error-head{
		font-size: 20px;
		margin-bottom: 5px;
	}
	.dz_error-405 .dz_error{
		font-size: 120px;
		line-height: 120px;
	}
	.dz_error-405 .error-head{
		font-size: 35px;
		margin: 10px 0;
	}
	.dz_error-405 .dlab-divider{
		margin: 15px 0;
	}
}

@media only screen and (max-width: 599px) {
	.footer-bottom .text-left,
	.footer-bottom .text-right{
		text-align:center !important;
	}
	.choseus-tabs .nav li a {
		font-size: 13px;
		padding: 5px;
	}
}
@media only screen and (max-width: 360px) {
	.abuot-box{
		margin: 0;
	}
	.abuot-box.left{
		margin-top: 30px;
	}
	.our-about-info .box-title{
		margin: 20px 0;
	}
}
/* New Page */
/* form-tax */
.form-tax{
	box-shadow: 10px 10px 40px 0 rgba(39,50,114,0.25);
	max-width:700px;
	margin-left:-50px;
}
.form-tax label{
	font-size:15px;
	text-transform:capitalize;
}
.form-tax .bootstrap-select .dropdown-toggle,
.form-tax input.form-control{
	border: 2px solid #e7ecf1 !important;
	border-radius:4px;
	height: 45px;
	padding: 10px 20px;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option{
	font-size: 15px;
}
.form-tax .site-button{
	padding: 12px 25px;
}
.form-tax .form-group {
	margin-bottom: 15px;
}
.tax-info-chart .form-tax{
	box-shadow:none;
	margin-left: 0;
	max-width:100%;
}
.chart-box{
	padding:30px;
	background: #fff;
	width: 100%;
}
/* Team */
.team-section{
	position: relative;
	overflow: hidden;
}
.team-section .team-content{
    position: absolute;
    bottom: -46px;
    width: 100%;
    padding: 10px 25px;
	transition: all 0.5s;
}
.team-section:hover .team-content{
	bottom: 0;
	transition: all 0.5s;
}
.team-section .team-content a{
	font-size: 18px;
	margin-right: 10px;
}


.dlab-box-icon .icon-cell > div i{
	line-height:65px;
	transition:all 0.5s;
}
.dlab-box-icon .icon-cell > div{
	width:65px;
	height:65px;
	overflow:hidden;
	display:block;
}
.dlab-box-icon:hover .icon-cell span{
	margin-top:-65px;
	transition:all 0.5s;
}
.dlab-box-icon .icon-cell span{
	display:block;
	transition:all 0.5s;
}
.site-button-link.border-link {
    border-bottom: 2px solid;
    border-radius: 0;
    padding: 0;
}
@media only screen and (max-width: 1024px){
	.facility .icon-bx-wraper.dlab-box-icon{
		padding: 40px 20px;
	}
}
@media only screen and (max-width: 768px){
	.facility .icon-bx-wraper.dlab-box-icon{
		padding: 70px;
	}
	.form-tax {
		max-width: 90%;
		margin: auto;
	}
}
@media only screen and (max-width: 360px){
	.facility .icon-bx-wraper.dlab-box-icon{
		padding: 40px 20px;
	}
}

/* header-style-1 */
.site-header.header-style-1 .header-nav .nav > li > a,
.site-header.header-style-1 .is-fixed .header-nav .nav > li > a{
	padding: 19px 12px 19px 12px;
}
.site-header.header-style-1 .is-fixed .extra-nav,
.site-header.header-style-1 .extra-nav{
	padding: 16px 0 16px 0;
}
.site-header.header-style-1 .is-fixed .logo-header,
.site-header.header-style-1 .logo-header{
	height: 60px;
}
.site-header.header-style-1 .site-button-link.white{
	color:#fff;
}	
.site-header.header-style-1 .site-button{
	color:#fff;
}
.site-header.header-style-1 .navbar-toggler{
	margin:23px 0 20px 10px;
}
.site-header.header-style-1 .logo-header,
.site-header.header-style-1 .logo-header img{
	    max-width: 150px;
}
@media only screen and (max-width: 991px){
	.site-header.header-style-1 .header-nav .nav > li > a, 
	.site-header.header-style-1 .is-fixed .header-nav .nav > li > a{
		padding: 10px 20px 10px 20px;
	}
	.site-header.header-style-1.mo-left .header-nav .logo-header img{
		width: 150px;
	}
	.site-header.header-style-1.mo-left .header-nav .logo-header{
		padding: 10px 20px;
		height: auto;
	}
	.site-header.header-style-1.mo-left .header-nav .nav > li > .sub-menu, 
	.site-header.header-style-1.mo-left .header-nav .nav > li > .mega-menu{
		box-shadow:none;
	}
	.site-header.header-style-1 [class*="bg-"] .header-nav .nav > li.active > a, 
	.site-header.header-style-1 [class*="bg-"] .header-nav .nav > li > a,
	.site-header.header-style-1 [class*="bg-"] .header-nav .nav > li.current-menu-item > a{
		color:#273272;
	}
	.site-header.header-style-1 .header-nav .nav > li .sub-menu li a{
		color:#101042;
	}	
}

/** RADIAL PROGRESS **/
.arrow {
  border: 2em solid transparent;
  height: 0;
  margin: 50vh auto;
  width: 0;
}
.arrow.down {
  border-bottom: none;
  border-top-color: #e5e5e5;
}
.arrow.up {
    border-bottom-color: #e5e5e5;
    border-top: none;
}
svg.radial-progress {
  height: auto;
  max-width: 200px;
  padding: 1em;
  transform: rotate(-90deg);
  width: 100%;
}
svg.radial-progress circle {
  fill: rgba(0,0,0,0);
  stroke: #fff;
  stroke-dashoffset: 219.91148575129; /* Circumference */
  stroke-width: 10;
}
svg.radial-progress circle.incomplete { opacity: 0.25; }
svg.radial-progress circle.complete { stroke-dasharray: 219.91148575129; /* Circumference */ }
svg.radial-progress text {
  fill: #000;
  font: 400 1em/1 'Oswald', sans-serif;
  text-anchor: middle;
}
/*** COLORS ***/
/* Primary */
svg.radial-progress:nth-of-type(6n+1) circle { stroke: #6cc000; }

/*==========================
	Custom Responsive
==========================*/
@media (min-width:320px) and (max-width:720px){
	.slide-item-img img{ height:800px; }
	.texto-ini h1{ font-size: 30px; text-align: center !important; line-height: 2em;}
	.texto-ini h2{ font-size: 18px; text-align: center; line-height: 1.5em; }
	.title-princ{ margin-top: -100px; }
	.icono-whatsapp{ top:55%; left:4%; font-size:30px; border:1px;}
	.icono-messenger{ top:65%; left:4%; font-size:30px; border:1px;}
	.icono-phone{ top:75%; left:4%; font-size:30px; border:1px;}
	.btn1{ margin-top:20px; }
	.btn-messenger{ margin-top:20px; }
}

